<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dg.dgacademy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="com.packagename.of.libary.with.conflict" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".DgApplication"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait" >
           <intent-filter>
               <action android:name="android.intent.action.MAIN"/>
               <category android:name="android.intent.category.LAUNCHER"/>
           </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.publication.AllPublicationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.draft.AllDraftsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.publication.PublicationActivity"/>
        <activity android:name=".activities.draft.DraftActivity"/>
        <activity android:name=".activities.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.draft.AllPrivateDraftsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.publication.AllPrivatePublicationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.publication.PrivatePublicationActivity" />
        <activity android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.NotificationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.draft.PrivateDraftActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.draft.DraftSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.draft.EditDraftTitleActivity"/>
        <activity android:name=".activities.draft.EditMarkdownActivity"/>
    </application>
</manifest>
